*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.ul{
    list-style: none;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #21242b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    margin-left: 25px;
    color: white;
    /* background-color: red; */
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    background-color: rgb(255, 180, 41);
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-content: flex-start;
    justify-content: left;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    font-weight: 300;
    color: #bbbbbb;
    /* text-decoration: none; */
    display: block;
    transition: 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.footer-col .social-links{
    padding-left: 20px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    background-color: rgb(204, 204, 204);
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    transition: all 0.5s ease ;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}