.inputBox{
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.h1signup{
    margin-bottom: 25px;
    text-align: center;
}
.signupall{
    margin: 90px auto;
    border: 3px solid #f1f1f1;
    padding: 15px;
    width: 400px;
    border-radius: 15px;
}
.signupbtn{
    width: 90px;
    padding: 7px;
    margin-top: 15px;
    font-size: 19px;
    border: none;
    color: white;
    height: 42px;
    border-radius: 10px;
    /* margin-right: 30px; */
    background-color: #f1c237;
}
.cancelbtn{
    margin-bottom: 10px;
    width: 80px;
    margin-top: 15px;
    padding: 11px;
    height: 42px;
}
.under{
    display: flex;
    justify-content: space-between
}